/*HOJA DE ESTILOS GENERAL DE LA PÁGINA
- TIPOGRAFÍAS
- COLORES*/

:root{
    --b-color: black;
    --w-color: white;
    --type-green: green;
    --type-purple: purple;
    --border-radius: 4px;
}

body{
    
    menu{

        li{
            list-style: none;
        }

        .nav-inicio{
            background-color: grey;
        }
        .nav-poke{
            background-color: red;
        }
        .nav-juegos{
            background-color: orange;
        }
        .nav-cartas{
            background-color: yellow;
        }
        .nav-dibujos{
            background-color: green;
        }
        .nav-eventos{
            background-color: lightblue;
        }
        .nav-noticias{
            background-color: blue;
        }

        a{
            text-decoration: none;
        }
    }

    h1{
        font-size: 2em;
    }

    section{
        background-color: var(--b-color);
        color: var(--w-color);
        form{

        }

        .busqueda-resumen{
            color: var(--w-color);
            background-color: rgb(131, 196, 35);
            border-radius: var(--border-radius);
        }
    }

    /* TIPOS POKEMON */
    .planta{
        color: var(--b-color);
        background-color: var(--type-green);
        border-radius: var(--border-radius);
    }
    .veneno{
        color: var(--w-color);
        background-color: var(--type-purple);
    }

    /* Tags con colores oficiales */
    .tag {
        border-radius: var(--border-radius);
        line-height: 2em;
        text-align: center;
        padding: 0 1em;

        &:has(+ .tag),
        &+.tag {
          flex-grow: 1;
          padding: 0;
        }
    
        &.grass {
          background-color: #9bcc50;
        }
        &.poison {
          background-color: #b97fc9;
          color: white;
        }
        &.bug {
          background-color: #729f3f;
          color: white;
        }
        &.normal {
          background-color: #a4acaf;
          color: white;
        }
        &.flying {
          background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
        }
        &.ground {
          background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
        }
        &.water {
          background-color: #4592c4;
          color: white;
        }
        &.electric {
          background-color: #eed535;
        }
        &.steel {
          background-color: #9eb7b8;
        }
        &.ice {
          background-color: #51c4e7;
        }
        &.psychic {
          background-color: #f366b9;
          color: white;
        }
        &.fighting {
          background-color: #d56723;
          color: white;
        }
        &.rock {
          background-color: #a38c21;
          color: white;
        }
        &.fairy {
          background-color: #fdb9e9;
        }
        &.fire {
          background-color: #fd7d24;
          color: white;
        }
        &.dragon {
          background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
          color: white;
        }
        &.dark {
          background-color: #707070;
          color: white;
        }
        &.ghost {
          background-color: #7b62a3;
          color: white;
        }
    }
}
