/*HOJA DE ESTILOS GENERAL DE LA PÁGINA
- TIPOGRAFÍAS
- COLORES*/

:root{
    --b-color: black;
    --w-color: white;
    --nav-color: white;
    --nav-color-hover: grey;
    --border-radius: 4px;
    --nav-b-border: 8px;
}

body{
  color: #696969;
    
    menu{

        li{
            list-style: none;
            background-color: var(--nav-color);
            border-bottom: var(--nav-b-border) solid transparent;

            a{
              text-decoration: none;
              color: #616161;
            }
            &:hover a{
              color: var(--w-color);
            }
        }

        .nav-inicio{
            border-bottom-color: grey;
            &:hover{
              --nav-color-hover: grey;
              background-color: var(--nav-color-hover);
            }
        }
        .nav-poke{
            border-bottom-color: red;
            &:hover{
              --nav-color-hover: red;
              background-color: var(--nav-color-hover);
            }
        }
        .nav-juegos{
            border-bottom-color: orange;
            &:hover{
              --nav-color-hover: orange;
              background-color: var(--nav-color-hover);
            }
        }
        .nav-cartas{
            border-bottom-color: rgb(219, 219, 0);
            &:hover{
              --nav-color-hover: rgb(219, 219, 0);
              background-color: var(--nav-color-hover);
            }
        }
        .nav-dibujos{
          border-bottom-color: green;
          &:hover{
            --nav-color-hover: green;
            background-color: var(--nav-color-hover);
          }
        }
        .nav-eventos{
          border-bottom-color: lightblue;
          &:hover{
            --nav-color-hover: lightblue;
            background-color: var(--nav-color-hover);
          }
        }
        .nav-noticias{
          border-bottom-color: blue;
          &:hover{
            --nav-color-hover: blue;
            background-color: var(--nav-color-hover);
          }
        }
    }

    h1{
        font-size: 3em;
    }

    section{
        background-color: var(--b-color);
        color: var(--w-color);

        form{
          font-size: 1.2em;
        }

        .busqueda-resumen{
          font-size: 1.2em;
            color: var(--w-color);
            background-color: rgb(131, 196, 35);
            border-radius: var(--border-radius);
        }
        .favorito-resumen{
          font-size: 1.2em;
            color: var(--w-color);
            background-color: rgb(201, 171, 0);
            border-radius: var(--border-radius);
        }
    }

    .pokemon{
      border-radius: var(--border-radius);
      box-shadow: 0 4px 6px rgba(5, 5, 5, 0.2);
      h2{
        font-size: 2em;
        color: var(--b-color);
      }

      img{
        border-radius: var(--border-radius);
        background-color: rgb(243, 243, 243);
      }
      &:hover{
        box-shadow: 0 0 15px greenyellow;
      }
    }
    .favorito{
      border: 5px solid gold;
    }

    /* Tipos Pokémon */

    /* Tags con colores oficiales */
    .tag {
        border-radius: var(--border-radius);
        line-height: 2em;
        text-align: center;
        padding: 0 1em;

        &:has(+ .tag),
        &+.tag {
          flex-grow: 1;
          padding: 0;
        }
    
        &.grass {
          background-color: #9bcc50;
        }
        &.poison {
          background-color: #b97fc9;
          color: white;
        }
        &.bug {
          background-color: #729f3f;
          color: white;
        }
        &.normal {
          background-color: #a4acaf;
          color: white;
        }
        &.flying {
          background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
        }
        &.ground {
          background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
        }
        &.water {
          background-color: #4592c4;
          color: white;
        }
        &.electric {
          background-color: #eed535;
        }
        &.steel {
          background-color: #9eb7b8;
        }
        &.ice {
          background-color: #51c4e7;
        }
        &.psychic {
          background-color: #f366b9;
          color: white;
        }
        &.fighting {
          background-color: #d56723;
          color: white;
        }
        &.rock {
          background-color: #a38c21;
          color: white;
        }
        &.fairy {
          background-color: #fdb9e9;
        }
        &.fire {
          background-color: #fd7d24;
          color: white;
        }
        &.dragon {
          background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
          color: white;
        }
        &.dark {
          background-color: #707070;
          color: white;
        }
        &.ghost {
          background-color: #7b62a3;
          color: white;
        }
    }

    /* MENSAJES DE ERROR */
    .error {
      color: red;
      font-weight: bold;
      text-align: center;
      margin: 10px 0;
      background-color: #ffeeee;
      border: 1px solid red;
      padding: 10px;
      border-radius: 5px;
    }
    
    .oculto {
      display: none;
    }
}
