/*
HOJA DE ESTILOS PARA ESCRITORIO (MIN-WIDTH: 481PX)
- DISPOSICIÓN
*/

body{

    /* MENÚ DE LA APP */
    header{
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        width: 100%;

        menu{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 80%;
    
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 100%;
                width: 14.28%;
            }
        }
    }

    /* BUSQUEDA DE POKÉMON */
    section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 190px;

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 10px;
            width: 40%;
            height: 100%;

            .busqueda-bar{
                width: 80%;
            }
            p{
                width: 80%;
                margin-top: 15px;

            }
        }

        .busqueda-resumen{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 20%;
            height: 40%;
            text-align: center;
            padding: 0 30px;
        }
    }

    /* POKÉDEX */
    .lista-pokedex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 60px;
        margin: 0 auto;

        li{
            width: 20%;

            .pokemon{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 8px;
                width: 100%;

                img{
                    width: 140px;
                    height: 140px;
                }

                .tipos{
                    display: flex;
                    width: 80%;
                    gap: 5px;
                    margin-bottom: 5px;

                    .tag{
                        width: 35%;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }  
}