/*HOJA DE ESTILOS GENERAL DE LA PÁGINA
- TIPOGRAFÍAS
- COLORES*/

body{
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    color: #c0c0c0;
    line-height: 28px;
    background-color: #3B4C2C;

    /*Header y footer*/
    header{
        .cabecera{
            background-image: url('../img/militares-crop.jpg');
            background-size: cover;
            background-position-y: bottom;/*center -510px;*/
            background-repeat: no-repeat;
            color: #F5F5F5;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        }
        .nav-bar{
            background-color: #2F4F4F;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        }
        
    }
    footer{
        background-image: url('../img/camuflaje.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #F5F5F5;
        box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
    }

    /*Titulares, parrafos, inputs, botones y links*/
    h1,h2,h3,h4,h5,h6{
        font-family: "Big Shoulders Stencil", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-size: 3em;
        line-height: 1.2em;
        letter-spacing: -1px;
        text-shadow: 2px 2px 0px #720000, -2px -2px 0px #720000, 2px -2px 0px #720000, -2px 2px 0px #720000;
    }
    h2{
        font-size: 1.5em;
    }

    article{
        p{
            &::first-letter {
                font-size: 1.75em;
            }
        }
        img{
            box-shadow: 10px 5px 5px rgb(3, 3, 0);
        }
    } 

    button{
        font-family: "Big Shoulders Stencil", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #D4AF37;
        cursor: pointer;
        font-size: 1.5em;
        transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s;

        &:hover{
            background-color: #D4AF37;
            color: #F5F5F5;
            transform: scale(1.1);
        }
    }
    input, textarea{
        font-family: "Courier Prime", monospace;
        font-weight: 400;
        font-style: italic;
        border-color: #8B0000;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;

        &:focus{
            border-color: #D4AF37;
            box-shadow: 0 0 8px #D4AF37;
        }
    }
    a{
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
        color: #D4AF37;
        text-decoration: none;
        transition: color 0.3s ease, font-size 0.3s ease;

        &:hover{
            color: #ffd344;
            font-size: 1.1em;
            text-decoration: underline;
        }
    }

    /*Tablas*/
    table{

        th,td{
            border: 2px solid #113813;
        }
        thead th{
            background-color: #4B5320;
            font-size: 1.3em;
        }
        tbody tr:nth-child(even){
            background-color: #6c772e;
        }
        tbody tr:hover{
            background-color: #8B0000;
            color: white;
            
        }
        caption{
            font-weight: bold;
        }
        a{
            &:hover{
                color: #f8cf46;
                font-size: 1em;
            }
        }
    }
    /*Formularios*/
    form{
        color: white;
        background-color: rgb(90, 90, 60);
        border-radius: 10px;
        box-shadow: 10px 5px 5px rgb(3, 3, 0);

        *:required::placeholder{
            color: #D4AF37;
            font-style: italic;
        }

    }
    .comentarios{
        color: white;
        background-color: rgb(90, 90, 60);
        border-radius: 10px;
        box-shadow: 10px 5px 5px rgb(3, 3, 0);

        h2{
            font-size: 2em;
        }
        .comentario{
            background-color: #2F4F4F;
            color: #F5F5F5;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

            .comentario-user{
                color: rgb(0, 0, 0);
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
            }
            .texto-comentario{
                color: rgb(252, 252, 252);
                /* background-color: rgb(87, 8, 8); */
                border-radius: 10px;
            }
        }
    }
    .add-comentario{
        textarea{
            height: 80px;
            border-radius: 10px;
        }
        button{
            font-size: 1em;
        }
    }
}
