/*
HOJA DE ESTILOS PARA ESCRITORIO (MIN-WIDTH: 481PX)
- DISPOSICIÓN
*/

body{
    header,footer{
        padding: 20px 0;
        text-align: center;
    }

    article{
        h1,h2{
            margin: 20px;
            text-align: justify;
        }
        p{
            margin: 20px;
            text-align: justify;
        }
        a{
            display: block;
        }
        time{
            margin: 20px;
        }
        img{
            display: block;
            margin: 10px auto;
        }
        figcaption{
            text-align: center;
        }
    }

    form{
        margin: 20px auto;
        width: 60%;
        max-width: 600px;
        padding: 20px;
        label{
            display: block;
        }
        #permitir-notificacion{
            display: inline;
        }
        textarea{
            width: 98%;
        }
    }
    .comentarios{
        margin: 20px auto;
        width: 60%;
        max-width: 600px;
        padding: 20px;

        h2{
            text-align: center;
        }

        .comentario{
            padding: 20px;
            margin: 20px;
            text-align: center;
            display: flex; /*Flex, echar un ojo*/
            justify-content: space-between;
            align-items: center;
            

            .comentario-user{
                padding: 5px;
                margin: 10px;
            }
            .texto-comentario{
                text-align: justify;
                padding: 5px;
                margin: 10px;
            }
        }
    }

    .add-comentario{
        margin: 20px auto;
        width: 60%;
        max-width: 600px;
        padding: 20px;
        align-items: center;
        text-align: center;

        h2{
            text-align: center;
        }
    }

    table{
        margin: 0 auto;
        width: 95%;
        border-collapse: collapse;
        margin-bottom: 15px;
        
        td,th{
            vertical-align: top;
            text-align: center;
        }
        td img{
            display: block;
            width: 100%;
            height: auto;
        }
        td:has(img){
            padding: 3px;
            border: none;
        }
    }
}